<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="PetStoreAPI Test Suite" parallel="false">
    <listeners>
        <listener class-name="com.Utilities.ExtentReportManager"/>

    </listeners>


    <test name="User API Tests">
        <classes>
            <class name="com.Tests.UserTests"/>
        </classes>
    </test>

</suite>